<% provide(:title, @parlor.name) %>

<!-- LIGHT SECTION -->
<%= render 'lightsection' %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'singleproduct', store: @parlor %>
    <%= render 'productscontent' %>
  </div>
</section>
