/*================= devise ==================*/
.success {
  padding: 0px 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.info, .notice {
  padding: 0px 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.warning, .alert {
  padding: 0px 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0px;
  color: #8a6d3b;
  background-color: fcf8e3;
  border-color: #faebcc;
}
.danger {
  padding: 0px 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.devise {
  h2{
    text-align: center;
  }
  .test-user {
    text-align: right;
  }
}
