/* ====== index =====
2. HOME
  2.1 HEADER
    2.1.1 TOPBAR
    2.1.2 NAVBAR
===================== */
.header {
  .search {
    div.field {
      width: 100%;
      display: inline-flex;
      #search-field {
        width: 80%;
        border-radius: 4px 0px 0px 4px;
      }
      #submit-field {
        width: 20%;
        border-radius: 0px 4px 4px 0px;
        background: #47bac1;
        color: #fff;
      }
    }
  }
  .bars {
    strong {
      color: #47bac1;
    }
  }
  .open > .dropdown-menu {
    box-shadow: none;
    padding: 16px;
    width: 400px;
    position: absolute;
    border: 1px solid #ececec;
    @media (max-width: 479px) {
      position: relative;
      width: 100%;
      border: 0;
    }
  }
 }

/*================= 2. HOME ==================*/
.header {
  position: relative;
  z-index: 999;
}
.navbar-brand {
  width: auto;
  height: auto;
  -webkit-transition: height 0.3s, width 0.3s;
  -moz-transition: height 0.3s, width 0.3s;
  -ms-transition: height 0.3s, width 0.3s;
  -o-transition: height 0.3s, width 0.3s;
  transition: height 0.3s, width 0.3s;
}
.navbar-brand img {
  max-width: 100%;
}
.navbar-default .container {
  position: relative;
}
.navbar-default .navbar-header .navbar-brand {
  display: inline-block;
}

/*=== 2.1 HEADER ===*/
.header {
  background-color: #ffffff;
  top: 0;
  width: 100%;
}
/*=== 2.1.2 NAVBAR ===*/
.padding-top {
  padding-top: 57px;
}
@media (min-width: 768px) {
  .padding-top {
    padding-top: 91px;
  }
}

.navbar-fixed-top {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.navbar-fixed-top .navbar-brand {
  width: 197px;
  height: 31px;
  -webkit-transition: height 0.3s, width 0.3s;
  -moz-transition: height 0.3s, width 0.3s;
  -ms-transition: height 0.3s, width 0.3s;
  -o-transition: height 0.3s, width 0.3s;
  transition: height 0.3s, width 0.3s;
}

.navbar-default .navbar-header .navbar-toggle {
  background-color: #47bac1;
  border-radius: 0;
  border: none;
  padding: 9px 8px;
  margin-right: 20px;
  margin-top: 11px;
}
.navbar-default .navbar-header .navbar-toggle .icon-bar {
  background-color: #ffffff;
  width: 24px;
  height: 4px;
}
