/* ====== index =====
1. COMMON
2. HOME
  2.2 FOOTER
    2.2.1 MAIN FOOTER
    2.2.2 COPY RIGHT
  2.3 BANNER
  2.4 WHITE SECTION
  2.5 LIGHT SECTION
  2.6 LOGIN MODAL
3. FORM
  3.1 FORM COMMON
  3.2 FORM SIGN UP
  3.3 FORM LOST PASSWORD
  3.4 FORM LOG IN
  3.5 BLOG SINGLE COMMENTS FORM
  3.6 STEPS PAGE FORM
4. MODAL
  4.1 LOGIN MODAL
  4.2 PORDUCT QUICK VIEW MODAL
5. PAGE HEADER
  5.1 COMMON HEADER
  5.2 ABOUT US HEADER
  5.3 CART PAGE HEADER
===================== */

$base_color: #47bac1;

.btn-base {
  & {
    color: #fff;
    background-color: $base_color;
    border-color: $base_color;
  }
  &:hover {
    color: #fff;
    background-color: $base_color;
    border-color: #ccc;
  }
}

/*=== MIXINS ===*/
/*=== VARIABLES ===*/
/*=== MEDIA QUERY ===*/
* {
  outline: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #252525;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

p {
  font-size: 12px;
  color: #252525;
  font-weight: 400;
  line-height: 18px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
  color: #252525;
  margin-top: 0;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 25px;
}
img {
  max-width: 100%;
}
.mainContent {
  border-top: solid 1px #ccc;
  .container {
    position: relative;
  }
}


/*=== 1.COMMON ===*/
.container {
  width: 100%;
}
@media (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.main-wrapper {
  position: relative;
}

a {
  color: #d9d9d9;
  text-decoration: none !important;
}

a:hover, a:focus {
  color: #a7a7a7;
  outline: 0;
}

.media-left, .media > .pull-left {
  float: left !important;
}

.productView{
  width: 160px !important;
  color: white;
}
.productView:hover{
  color:#47bac1;
}
.addPointer{
  cursor: pointer;
}

/*================= 2. HOME ==================*/
/*=== 2.4 WHITE SECTION ===*/
.page-header {
  margin: 0 0 17px 0;
  border-bottom: 5px solid #e4e4e4;
}
.page-header h4 {
  margin-bottom: 0;
  text-transform: uppercase;
}

.thumbnail {
  border: none;
  border-radius: 0;
  padding: 0;
}
.thumbnail .caption {
  padding: 20px 0 0 0;
}

.whiteSection, .mainContent {
  background-color: #ffffff;
}
@media (max-width: 479px) {
  .whiteSection, .mainContent {
    padding: 40px 0 40px 0;
  }
}
@media (min-width: 480px) {
  .whiteSection, .mainContent {
    padding: 90px 0 0 0;
  }
}
@media (min-width: 768px) {
  .whiteSection, .mainContent {
    padding: 90px 0 60px 0;
  }
}
.whiteSection .featuredCollection .thumbnail, .mainContent .featuredCollection .thumbnail {
  cursor: pointer;
}
@media (max-width: 479px) {
  .whiteSection .featuredCollection .thumbnail, .mainContent .featuredCollection .thumbnail {
    margin-bottom: 40px !important;
  }
}
@media (min-width: 480px) {
  .whiteSection .featuredCollection .thumbnail, .mainContent .featuredCollection .thumbnail {
    margin-bottom: 40px !important;
  }
}
@media (min-width: 768px) {
  .whiteSection .featuredCollection .thumbnail, .mainContent .featuredCollection .thumbnail {
    margin-bottom: 88px;
  }
}
.whiteSection .featuredCollection .thumbnail .imageWrapper, .mainContent .featuredCollection .thumbnail .imageWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.whiteSection .featuredCollection .thumbnail .imageWrapper img, .mainContent .featuredCollection .thumbnail .imageWrapper img {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
}
.whiteSection .featuredCollection .thumbnail:hover .imageWrapper .masking, .mainContent .featuredCollection .thumbnail:hover .imageWrapper .masking {
  opacity: 1;
}
.whiteSection .featuredCollection .thumbnail:hover .imageWrapper img, .mainContent .featuredCollection .thumbnail:hover .imageWrapper img {
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.whiteSection .featuredCollection .thumbnail:hover .imageWrapper .viewBtn, .mainContent .featuredCollection .thumbnail:hover .imageWrapper .viewBtn {
  -webkit-animation: itemMove 0.3s linear;
  animation: itemMove 0.3s linear;
}
.whiteSection .featuredCollection .thumbnail .caption h4, .mainContent .featuredCollection .thumbnail .caption h4 {
  margin-bottom: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  a {
    color: #252525;
  }
}
.whiteSection .featuredCollection .thumbnail:hover .caption h4, .mainContent .featuredCollection .thumbnail:hover .caption h4 {
  color: #47bac1;
}
.whiteSection .latestArticles .thumbnail, .mainContent .latestArticles .thumbnail {
  margin-bottom: 30px;
}
.whiteSection .latestArticles .thumbnail h5, .mainContent .latestArticles .thumbnail h5 {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.whiteSection .latestArticles .thumbnail h5 a, .mainContent .latestArticles .thumbnail h5 a {
  font-size: inherit;
  letter-spacing: inherit;
  color: #252525;
}
.whiteSection .latestArticles .thumbnail h5 span, .mainContent .latestArticles .thumbnail h5 span {
  text-transform: capitalize;
  color: #bcbcbc;
}
.whiteSection .latestArticles .thumbnail h5 span a, .mainContent .latestArticles .thumbnail h5 span a {
  color: #bcbcbc;
  text-decoration: underline !important;
}
.whiteSection .latestArticles .thumbnail span, .mainContent .latestArticles .thumbnail span {
  text-transform: capitalize;
  color: #bcbcbc;
  display: block;
  margin-bottom: 10px;
}
.whiteSection .latestArticles .thumbnail span a, .mainContent .latestArticles .thumbnail span a {
  color: #bcbcbc;
  text-decoration: underline !important;
}
.whiteSection .latestArticles .thumbnail img, .mainContent .latestArticles .thumbnail img {
  width: 100%;
}
.whiteSection .latestArticles .thumbnail p, .mainContent .latestArticles .thumbnail p {
  margin-bottom: 0;
}

/*=== 2.5 LIGHT SECTION ===*/
.lightSection {
  background-color: #f0f0f0;
  height: 125px;
}
.lightSection .partnersLogoSlider .owl-nav {
  display: none;
}
.lightSection .partnersLogoSlider .slide {
  display: table;
  height: 125px;
  width: 100%;
}
.lightSection .partnersLogoSlider .slide .partnersLogo {
  display: table-cell;
  vertical-align: middle;
  text-align: center !important;
}
.lightSection .partnersLogoSlider .slide .partnersLogo img {
  width: auto;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .lightSection .partnersLogoSlider .slide .partnersLogo {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .lightSection .partnersLogoSlider .slide .partnersLogo {
    width: 270px;
  }
}

@-webkit-keyframes itemMove {
  0% {
    top: 55%;
  }
  100% {
    top: 50%;
  }
}
@keyframes itemMove {
  0% {
    top: 55%;
  }
  100% {
    top: 50%;
  }
}

/*=== 3. FORM ===*/

/*=== 5. PAGE HEADER ===*/
/*=== 5.1 COMMON HEADER ===*/
@media (max-width: 479px) {
  .pageHeader .col-xs-6 {
    width: 100%;
    padding-top: 10px;
  }
}
@media (min-width: 480px) {
  .pageHeader .col-xs-6 {
    width: 50%;
    padding-top: 0;
  }
}

.pageHeader {
  height: 70px;
}
.pageHeader .page-title h2 {
  color: #797979;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0;
}
@media (max-width: 479px) {
  .pageHeader .page-title h2 {
    font-size: 12px;
    line-height: 18px;
  }
}
@media (min-width: 480px) {
  .pageHeader .page-title h2 {
    font-size: 12px;
    line-height: 70px;
  }
}
@media (min-width: 768px) {
  .pageHeader .page-title h2 {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .pageHeader .page-title h2 {
    font-size: 30px;
  }
}
.pageHeader ol.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  padding: 0;
}
@media (max-width: 479px) {
  .pageHeader ol.breadcrumb {
    float: left !important;
    min-height: 15px;
  }
}
@media (min-width: 480px) {
  .pageHeader ol.breadcrumb {
    float: right !important;
    min-height: 70px;
  }
}
.pageHeader ol.breadcrumb .active {
  color: #252525;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  .pageHeader ol.breadcrumb .active {
    font-size: 9px;
  }
}
@media (min-width: 768px) {
  .pageHeader ol.breadcrumb .active {
    font-size: 12px;
  }
}
@media (min-width: 480px) {
  .pageHeader ol.breadcrumb li + li::before {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .pageHeader ol.breadcrumb li + li::before {
    padding: 0 5px;
  }
}
.pageHeader ol.breadcrumb li a {
  text-transform: uppercase;
  color: #969696;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pageHeader ol.breadcrumb li a:hover {
  opacity: .9;
}
@media (min-width: 480px) {
  .pageHeader ol.breadcrumb li a {
    font-size: 9px;
    line-height: 15px;
  }
}
@media (min-width: 480px) {
  .pageHeader ol.breadcrumb li a {
    font-size: 9px;
    line-height: 70px;
  }
}
@media (min-width: 768px) {
  .pageHeader ol.breadcrumb li a {
    font-size: 12px;
  }
}

